{% assign footer = site.data.en.Components.Footer %}

<footer class="bg-light-default rounded-lg shadow m-4 dark:bg-dark-default">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/"
                class="hover:underline"></a>.{{ footer.copyright }} {{ langVar }}

        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="#" class="hover:underline me-4 md:me-6 animate-fade-up animate-thrice animate-ease-in-out">
                    {{ footer.links.about }}
                </a>
            </li>
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">
                    {{ footer.links.privacyPolicy }}
                </a>
            </li>
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">
                    {{ footer.links.licensing }}
                </a>
            </li>
            <li>
                <a href="#" class="hover:underline">
                    {{ footer.links.contact }}
                </a>
            </li>
        </ul>
    </div>
</footer>